<div class="cover container">
    <div class="cover-content">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
            <div class="subhead"><p class="subhead-text">Communication is everything. Retention over acquisition. Experience 🎟️ + deep research ⛏️. Sharing my journey... like a Hobbit.</p>
            </div>
        {{/if}}

        {{#if @labs.members}}
            {{#unless @member}}
                <div class="cover-cta">
                    <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                    <button class="button button-secondary members-login" data-portal="signin">Login</button>
                </div>
            {{/unless}}
        {{/if}}
    </div>
</div>
<section class="convertkit-section"><div class="covnertkit-form"><script async data-uid="e8ca39ce73" src="https://wondrous-teacher-5313.ck.page/e8ca39ce73/index.js"></script></section>
</div>
<section class="gumroad-section"</section>
<div class="gumroad-link">
        <script src="https://gumroad.com/js/gumroad.js"></script>
<a class="gumroad-button" href="https://gum.co/thepeffrey" target="_blank">Need help with your writing? Let's talk.</a>
    </div>
    </section>