{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            {{#foreach posts visibility="all"}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
    <div class="gumroad-link">
        <script src="https://gumroad.com/js/gumroad.js"></script>
<a class="gumroad-button" href="https://gum.co/thepeffrey" target="_blank">Need help with your writing? Let's talk.</a>
    </div>
</div>